.circle-container {
   position: fixed;
   top: -100px;
   left: -100px;
}

.circle {
   background-color: $color11;
   height: 200px;
   width: 200px;
   border-radius: 50%;
   position: relative;
   transition: transform 0.5s linear;
}

.container.show-nav .circle {
   transform: rotate(-70deg);
}

.circle button {
   cursor: pointer;
   position: absolute;
   top: 50%;
   left: 50%;
   height: 100px;
   background: transparent;
   border: 0;
   font-size: 26px;
   color: #fff;
}

.circle button:focus {
   outline: none;
}

.circle button#open {
   left: 60%;
}

.circle button#close {
   top: 60%;
   transform: rotate(90deg);
   transform-origin: top left;
}